<mt:Unless>
<script src="<$mt:var name="static_uri"$>plugins/AssetUploader/public/build/movabletype/bootstrap.js" type="module"></script>

<link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/AssetUploader/public/build/bundle.css" type="text/css" />
<script src="<$mt:var name="static_uri"$>plugins/AssetUploader/public/build/bootstrap.js" type="module"></script>
</mt:Unless>
