<mt:Unless>
<mt:If name="local_lang_id" eq="en-us">
  <script src="<$mt:var name="static_uri"$>plugins/AssetUploader/locales/en_us.js?v=<mt:Var name="AssetUploader_version" />"></script>
<mt:ElseIf eq="ja">
  <script src="<$mt:var name="static_uri"$>plugins/AssetUploader/locales/<$mt:var name="local_lang_id"$>.js?v=<mt:Var name="AssetUploader_version" />"></script>
</mt:If>
<script src="<$mt:var name="static_uri"$>plugins/AssetUploader/app-dist/bootstrap.js?v=<mt:Var name="AssetUploader_version" />" type="module"></script>
<script src="<$mt:var name="static_uri"$>plugins/AssetUploader/dist/bootstrap.js?v=<mt:Var name="AssetUploader_version" />" type="module"></script>
</mt:Unless>
