<mt:Unless>
<mt:If name="local_lang_id" eq="en-us">
  <script src="<$mt:var name="static_uri"$>plugins/AssetUploader/locales/en_us.js?v=<mt:Var name="AssetUploader_version" />"></script>
<mt:ElseIf eq="ja">
  <script src="<$mt:var name="static_uri"$>plugins/AssetUploader/locales/<$mt:var name="local_lang_id"$>.js?v=<mt:Var name="AssetUploader_version" />"></script>
</mt:If>
<script src="<$mt:var name="static_uri"$>plugins/AssetUploader/app-dist/bootstrap.js?v=<mt:Var name="AssetUploader_version" />" type="module"></script>
<script
  src="<$mt:var name="static_uri"$>plugins/AssetUploader/dist/bootstrap.js?v=<mt:Var name="AssetUploader_version" />"
  type="module"
  id="asset-uploader-script"
  data-blog-id="<mt:Var name="AssetUploader_blog_id" encode_html="1" />"
  data-insert-options="<mt:Var name="AssetUploader_insert_options" to_json="1" encode_html="1" />"
  data-upload-options="<mt:Var name="AssetUploader_upload_options" to_json="1" encode_html="1" />"
  data-can-upload="<mt:If name="can_upload">1</mt:If>"
></script>
</mt:Unless>
